<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>

            <ion-select (ionChange)="selectionChanged($event)">
                <ion-select-option value="0" [selected]="true">All Books</ion-select-option>
                <ion-select-option value="1">Favorites</ion-select-option>
            </ion-select>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="menu" (click)="presentPopover($event)"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-searchbar animated showCancelButton="never" autocomplete="true" (ionInput)="searchInputChanged($event)"
                   (ionChange)="searchChanged($event)"></ion-searchbar>
    <ion-list *ngIf="books">
        <ion-item *ngFor="let book of books">
            <ion-label (click)="openBook(book)">{{book.fileName}}</ion-label>
            <ion-icon name="star-outline" *ngIf="!isFavoriteBook(book)" (click)="setFavorites(true, book)"></ion-icon>
            <ion-icon name="star" *ngIf="isFavoriteBook(book)" (click)="setFavorites(false, book)"></ion-icon>
            <ion-icon slot="end" name="trash" (click)="deleteBook(book)"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
