<ion-header *ngIf="bookDTO != null">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{bookDTO.title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="setUnsetBookmark()">
                <ion-icon name="bookmark" style="float: right;"
                          [style.visibility]="isBookmarkSet ?'visible' : 'hidden'"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<main class="container" role="main">
    <div id="book"></div>
</main>

<footer class="footer">
    <div class="container">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-icon name="arrow-dropleft-circle" (click)="move(0)"></ion-icon>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-icon name="arrow-dropright-circle" (click)="move(1)" style="float:right;"></ion-icon>
            </ion-buttons>
        </ion-toolbar>
    </div>
</footer>