<!--<ion-menu side="start" menuId="ebook-menu" class="ebook-menu">
    <ion-header>
        <ion-toolbar color="tertiary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>-->
<div>
    <ion-icon name="bookmark" style="float: right; z-index: 2;"
              [style.visibility]="isBookmarkSet ?'visible' : 'hidden'"></ion-icon>
    <div id="book"></div>
</div>