<ion-header>
    <ion-toolbar translucent>
        <ion-title>My Books Menu</ion-title>
    </ion-toolbar>
</ion-header>
<ion-list>
    <ion-item>
        <label for="files" class="btn">Add Books</label>
        <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
               [uploadInput]="uploadInput" multiple id="files" style="display: none">
    </ion-item>
    <ion-item (click)="showAll()">
        <label>All Books</label>
    </ion-item>
    <ion-item (click)="showFavorites()">
        <label>Favorites</label>
    </ion-item>
</ion-list>